*{
    margin: 0;
}

header {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.5));

    width: 100%;
}

nav>li{
    text-decoration: none;
}

nav>ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.24);
    padding: 30px;
}

ul li a{
    text-decoration: none;
    color: white; 
    font-size: 22px;
}

li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  li a:hover:after {
    width: 90%;
    background: white;
  }

